@media screen and (min-width: 320px) {
    .container {
        max-width: 428px;
    }

    .header-logo {
        margin-right: 0;
    }

    .menu-open-btn {
        cursor: pointer;
        width: 30px;
        height: 18px;
        background-color: transparent;
        display: block;
        border: none;
        padding: 0;
        line-height: 0;
    }

    .menu-open-btn-icon {
        stroke: black;
    }

    .mob-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #ffffff;
        transition: visibility, opacity var(--footer-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mob-menu.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    
    .mob-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 320px;
        height: 100%;
        padding: 40px;
        background: #ffffff;
        border-radius: 4px;
        margin: 0 auto;
    }

    .mob-menu-close-btn {
        position: absolute;
        right: 24px;
        top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--footer-text-color);
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mob-menu-close-btn:hover,
    .mob-menu-close-btn:focus {
        background-color: #404bbf;
    }
    
    .mob-menu-close-btn-icon {
        transition: fill var(--footer-text-color);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mob-menu-close-btn:hover .mob-menu-close-btn-icon,
    .mob-menu-close-btn:focus .mob-menu-close-btn-icon {
        fill: var(--title-text-color);
    }

    .mob-menu-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-bottom: 80px;
    }

    .mob-menu-link {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.11;
        text-transform: capitalize;
        color: #2E2F42;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mob-menu-link-contacts {
        color: #4D5AE5;
    }

    .mob-menu-link:hover,
    .mob-menu-link:focus {
        color: #4D5AE5;
    }

    .mob-menu-address {
        font-style: normal;
    }

    .contacts-mob-menu-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .contacts-mob-menu-link {
        font-weight: 600;
        font-size: 24px;
        color: #4D5AE5;
    }

    .contacts-mob-menu-link-second {
        font-weight: 500;
        font-size: 16px;
        color: #434455;
    }

    .contacts-mob-menu-link-second:hover,
    .contacts-mob-menu-link-second:focus {
        color: #4D5AE5;
    }

    .mob-menu-social {
        display: flex;
        justify-content: space-between;
    }

    .mob-menu-social-item {
        width: 40px;
        height: 40px;
    }

    .mob-menu-social-item:not(:last-child) {
        margin-right: 24px;
    }

    .mob-menu-social-link {
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mob-menu-social-link:hover,
    .mob-menu-social-link:focus {
        background-color: #404BBF;
    }

    .hero {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
            url('../imeges/main-page/mobile/Dark-bg-mob.jpg');
    }
    
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                    url('../imeges/main-page/mobile/Dark-bg-mob-2x.jpg');
        }
    }

    .hero-title {
        max-width: 318px;
        font-size: 34px;
    }
    
    .feature-list {
        flex-direction: column;
    }

    .feature-item {
        width: 100%;
    }

    .feature-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 72px;
    }

    .feature-title {
        font-size: 36px;
        text-align: center;
        margin-top: 0;
    }

    .feature-text {
        font-size: 16px;
    }

    .team-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   

    .team-item:not(:last-child) {
        margin-bottom: 72px;
        margin-right: 0;
    }

    .customers-list {
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 72px;
    }

    .customers-item {
        width: calc((100% - 16px) / 2);
    }

    .customers-item:not(:last-child) {
        margin-right: 0;
    }

    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer-container {
        align-items: center;
        flex-direction: column;
    }

    .footer-logo-link {
        display: flex;
        justify-content: center;
    }

    .footer-text {
        margin-top: 16px;
        max-width: 268px;
    }

    .footer-social {
        margin-top: 72px;
        margin-bottom: 72px;
        margin-left: 0;
    }

    .footer-strong {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .footer-input {
        margin-left: 0;
        min-width: 288px;
    }

    .footer-form {
        flex-direction: column;
        align-items: center;
    }

    .footer-form-input {
        margin-bottom: 16px;
    }

    .footer-form-submit {
        margin: 0;
    }

    .filters {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .filters-item:not(:last-child) {
        margin-bottom: 16px;
        margin-right: 12px;
    }

    .filters-list {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .project-list {
        flex-direction: column;
        align-items: start;
        column-gap: 0;
        margin-top: 48px;
    }

    @media screen and (min-width: 428px) and (max-width: 767px) {
        .mob-container {
            width: 428px;
        }
        
        .mob-menu-link {
            font-size: 36px;
        }

        .contacts-mob-menu-link {
            font-size: 36px;
        }
    
        .contacts-mob-menu-link-second {
            font-size: 20px;
        }

        .mob-menu-social-item:not(:last-child) {
            margin-right: 56px;
        }

        .hero-title {
            max-width: 320px;
            font-size: 36px;
        }

        .filters-item:not(:last-child) {
            margin-bottom: 16px;
            margin-right: 24px;
        }
    }
}