@media screen and (min-width: 768px) {
    .container {
      max-width: 780px;
    }
  
    .section {
      padding-bottom: 96px;
      padding-top: 96px;
    }
  
    .menu-open-btn {
      display: none;
    }
  
    .mob-menu {
      display: none;
    }
  }